<h1>여기는 글을 쓰는 페이지에요.</h1>

<form action="/create" method="post">
    제목: <input type="text" name="post_title"></input><br><br>
    내용: <textarea name= "post_content"></textarea><br><br>
    
    <input type="submit" value="작성"></input>
    
</form>